/* Whole document: */
body{
  font-family: Baskerville;
  font-size: 14pt;
  text-align: justify;
}

/* header sizes */
h1 {
  text-align: left;
}
h2 {
  text-align: center;
  font-size: 18pt;
}

h4 {
  font-size:14pt;
  font-weight:600;
  margin-top: 30px;
}

/* Increase the font size of tabset tab text */
.tabset > .nav > li > a {
  font-size: 20px; 
  font-weight:600;
}
